@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

@if (Model.IsAuthenticated)
{
    <div class="text-center justify-content-center">
        <h1 class="display-4">Dashboard</h1>
        <p>Welcome, @Model.CurrentUser!.UserName</p>
        <div class="w-50 mx-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Logs
                    <span class="badge text-bg-primary rounded-pill">@Model.TotalLogs</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Last Week
                    <span class="badge text-bg-primary rounded-pill">@Model.TotalLogs</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Most Recent
                    <span class="badge text-bg-primary rounded-pill">@(Model.MostRecentLog?.Date.ToString("MMMM dd, yyyy") ?? "None")</span>
                </li>
            </ul>
        </div>
        <h2 class="my-3">Most Recent Log</h2>
        @if (Model.MostRecentLog is not null)
        {
            <div class="card w-50 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">@(Model.MostRecentLog.Exercise.Length > 20 ? Model.MostRecentLog.Exercise.Substring(0, 20) + "..." : Model.MostRecentLog.Exercise)</h5>
                    <p class="card-text">@(Model.MostRecentLog.Date.ToString("MMMM dd/yyyy hh:mm tt"))</p>
                    <a asp-page="/FitnessLogs/Details" asp-route-id="@Model.MostRecentLog.Id" class="btn btn-primary">View</a>
                </div>
            </div>
        }
        else
        {
            <p>No fitness logs. <a asp-page="/FitnessLogs/Create">Create one</a>.</p>
        }
        
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">FitLogNeo</h1>
        <h3>Your Open-Source Fitness Journal.</h3>
        <div class="d-flex flex-column my-3 gap-2 w-50 mx-auto">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
            <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </div>
    </div>
}

