@page
@model FitLogNeo.Pages.FitnessLogs.IndexModel

@{
    ViewData["Title"] = "All Fitness Logs";
}

<h1>All Fitness Logs</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="list-group">
    @foreach (var log in Model.FitnessLog.OrderByDescending(f => f.Date))
    {
        <a asp-page="./Details" asp-route-id="@log.Id" class="list-group-item list-group-item-action my-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@log.Date.ToString("MM/dd/yyyy hh:mm tt")</h5>
                <small>@((DateTime.Today - log.Date).Days) day(s) ago</small>
            </div>
            <p class="mb-1">
                @(log.Exercise.Length > 20 ? log.Exercise.Substring(0, 20) + "..." : log.Exercise)
            </p>
            <small>
                <a asp-page="./Edit" asp-route-id="@log.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@log.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@log.Id">Delete</a>
            </small>
        </a>
    }

    @if (Model.FitnessLog.Count <= 0)
    {
        <h5 class="mt-2">No Fitness Logs...</h5>
    }
</div>
