@page
@model FitLogNeo.Pages.FitnessLogs.IndexModel

@{
    ViewData["Title"] = "All Fitness Logs";
}

<h1>All Fitness Logs</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Exercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FitnessLog[0].Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FitnessLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
